@page "/"

<div class="card">
  <div class="card-body">
<h1 class="card-title">BookStore - Blazor and API Application</h1>
    <p class="card-text">
        .NET 6 Book Store Web API consumed by Blazor Server and WASM Apps. 
        By doing this course, you would have:
        <ul>
            <li>Build a fully data driven REST Web API .NET 6 using cutting edge technology</li>
            <li>Connect to a Database using Entity Framework Core</li>
            <li>Repository Pattern and Dependency Injection</li>
            <li>Setup Logging using Serilog</li>
            <li>Understand the REST design principles</li>
            <li>Understand C# and .Net Core Web Syntax</li>
            <li>Understand user Authentication using JWT (JSON Web Tokens)</li>
            <li>Understand how to use Models, DTOs and AutoMapper</li>
            <li>Understand how to use NSwag to generate Http Client Code</li>
            <li>Manage Packages with NuGet Manager</li>
            <li>Setup GitHub for Source Control</li>
            <li>Setup a Microsoft Azure Account</li>
            <li>Build Web Application to interact with Web API</li>
            <li>Deploy API and Database to Azure Web and Database Services</li>
        </ul>
    </p>

  </div>
</div>





